/* commons rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* debug */

.debug [class^="col"] {
    min-height: 50px;
}

.debug [class^="row"] {
    min-height: 50px;
}


/* utility */

:root {
    --br_free_primary: #1ABC9C;
    --br_free_secondary: white;
    --br_free_menu: #2C3E50;
    --br_free_footer: #3A546D;
}

.br_free_primary {
    background-color: var(--br_free_primary);
}

.br_free_tx_primary {
    color: var(--br_free_primary);
}

.br_free_secondary {
    background-color: var(--br_free_secondary);
}

.br_free_menu {
    background-color: var(--br_free_menu);
}

.br_free_footer {
    background-color: var(--br_free_footer);
}

.fs_07 {
    font-size: 0.7rem;
}

.btn_free_primary {
    background-color: var(--br_free_primary);
    color: var(--br_free_secondary);
}

.text_color_light {
    color: white;
}

.text_color_primary {
    color: var(--br_free_primary);
}

#special_text_color {
    color: var(--br_free_primary);
}

.fs_08 {
    font-size: 0.8rem;
    ;
}

.mb_0 {
    margin-bottom: 0px;
}

.border_special_white {
    background-color: white;
    height: 3px;
    width: 50px;
    vertical-align: middle;
    border-radius: 20px;
    display: inline-block;
}

.border_special_dark {
    background-color: black;
    height: 3px;
    width: 50px;
    vertical-align: middle;
    border-radius: 20px;
    display: inline-block;
}

.link_social>svg {
    height: 30px;
    margin-left: 2px;
}