/* commons rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* debug */

.debug [class^="col"] {
    min-height: 50px;
}

.debug [class^="row"] {
    min-height: 50px;
}


/* utility */

.br_pry {
    background-color: #1ABC9C;
}

.br_sec {
    background-color: white;
}

.br_menu {
    background-color: #2C3E50;
}

.br_footer {
    background-color: #3A546D;
}